// About Section styles

.about-me {

    .about-headshot {
        max-width: 300px;

        @media (min-width: 768px) and (max-width: 991px) {
            @include span-columns(4 of 12);
        }

        @media (min-width: 992px) {
            @include span-columns(2 of 12);
        }

        img {

            @media (min-width: 768px) {
                margin: 6px 0 0;
            }
        }
    }

    .about-content {
        margin-top: 20px;

        @media (min-width: 768px) {
            margin-top: 0;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            @include span-columns(8 of 12);
        }

        @media (min-width: 992px) {
            @include span-columns(10 of 12);
        }
    }
}