// Global Styles

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #677077;
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 15px;
    &:last-child {
        margin: 0;
    }
}

a {
    color: #f2b632;
    text-decoration: none;
    &:hover {
        color: #b5b5b7;
        text-decoration: none;
    }
}

h2 {
    font-size: 36px;
    line-height: 40px;
    color: #252839;
    margin: 0 0 15px;
}

h4 {
    font-size: 28px;
    line-height: 34px;
    font-weight: normal;
    margin: 0 0 10px;
}

img {
    display: block;
    max-width: 100%;
}

section {
    margin-top: 50px;
}

.container {
    @include outer-container;
}
.twelve-columns {
    @include span-columns(12);
}