// Heading Styles

.site-header {
    background: #252839;
    color: #b5b5b7;
    padding: 20px 0 50px;
    
    .header-name-container {
        float: left;
        margin: 60px 0 0;
    }
    
    .header-social {
        float: right;
    }

    h1 {
        color: #b5b5b7;
        font-size: 72px;
        line-height: 80px;
        margin: 0 0 10px;
        padding: 0;
    }

    h3 {
        color: #b5b5b7;
        font-size: 30px;
        line-height: 34px;
        margin: 0;
        padding: 0;
    }
}