// Portfolio Section styles

.portfolio-site {
    margin: 0 0 30px;

    &:last-child {
        margin: 0;
    }

    h3 {
        margin: 0 0 5px;
        font-size: 22px;
        line-height: 28px;

        a {
            color: #252839;

            &:hover {
                color: #b5b5b7;
            }
        }
    }

    p {
        margin: 0 0 5px;

        &:last-child {
            margin: 0;
        }
    }
}